.alphbuttons button{
    height:120px;
    width:200px;
    font-size: 80px;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
    background-color: yellow;
    }
.alphbuttons{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
}

.popup{
    padding: 130px;
}
.mainPopup{
    
   background-color: rgba(8, 1, 1, 0.607);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}